@font-face {
  font-family: "Rasegard";
  src: url("/fonts/rasegard/Rasegard-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}


@font-face {
    font-family: 'Robotika';
    src: url('/fonts/robotika/RobotikaThin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Robotika';
    src: url('/fonts/robotika/RobotikaThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
  }
  
  @font-face {
    font-family: 'Robotika';
    src: url('/fonts/robotika/RobotikaRegular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Robotika';
    src: url('/fonts/robotika/RobotikaItalic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
  }
  
  @font-face {
    font-family: 'Robotika';
    src: url('/fonts/robotika/RobotikaSemibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Robotika';
    src: url('/fonts/robotika/RobotikaBold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Robotika';
    src: url('/fonts/robotika/RobotikaBoldItalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
  }
  
  @font-face {
    font-family: 'Robotika';
    src: url('/fonts/robotika/RobotikaExtrablod.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Robotika';
    src: url('/fonts/robotika/RobotikaExtrablodItalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
  }
  