---
import Layout from "@/layouts/Layout.astro";
import GuiaCard from "@/components/GuiaCard.astro";

import Marquee from "@/components/Marquee.astro";

import { guias } from "@/const/Guias";
import { guiasImages } from "@/const/GuiasImages";
import GuiaImageCard from "@/components/GuiaImageCard.astro";
---

<Layout>
  <header class="overflow-x-hidden overflow-y-hidden">
    <Marquee />
    <div
      class="relative z-10 mt-10 py-10 pb-20 md:pb-0 md:h-[1800px] lg:h-[2300px] xl:h-[3600px] xl:mt-20"
    >
      <img
        src="/assets/MARCO.svg"
        alt="Imagen de marco"
        class="absolute top-0 left-0 w-full h-full z-0 object-cover md:object-contain"
      />

      <div
        class="w-full flex justify-center relative text-[5rem] font-rasegard md:text-[9rem] lg:text-[12rem] xl:text-[22rem] -mt-20 md:-mt-28 lg:-mt-36 xl:-mt-64"
        data-aos="fade-up"
      >
        Oddyssey

        <div
          class="absolute -bottom-5 right-16 md:right-28 lg:right-40 xl:right-96"
        >
          <img
            src="/assets/DESTELLO.svg"
            alt="Icono de destello"
            class="size-20 md:size-32 lg:size-40 xl:size-72"
          />
        </div>
      </div>

      <div class="relative">
        <div
          class="fllex justify-center w-full h-auto xl:h-[1300px] -translate-y-10 md:-translate-y-20 md:-translate-x-5 xl:-translate-x-20"
        >
          <img
            src="/assets/SUNRIIZE_GRUPO.webp"
            alt="Imagen de grupo"
            class="w-full h-full object-cover"
          />
        </div>
        <div
          class="bottom-0 absolute z-10 w-full h-[250px] md:h-auto xl:translate-y-32"
        >
          <div class="w-full h-full relative">
            <img
              src="/assets/NUBE.webp"
              alt="Imagen de nube"
              class="w-full h-full object-cover"
            />
            <div
              class="w-[70%] absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2"
            >
              <p
                class="text-center text-[1rem] md:text-[1.2rem] font-robotika md:w-3/4 mx-auto lg:text-[1.6rem] xl:text-[2rem] xl:w-1/2"
                data-aos="fade-up"
                data-aos-duration="1500"
              >
                Hace años, un planeta cuyo nombre el tiempo ya no recuerda fue
                destruido por una fuerza oscura que se cernía sobre la galaxia.
              </p>
            </div>
          </div>
        </div>
      </div>

      <section
        class="w-[80%] mx-auto space-y-10 lg:w-[60%] xl:w-[45%] md:h-[60%] md:flex md:flex-col md:justify-evenly lg:space-y-0"
      >
        <p
          class="text-center text-[1rem] md:text-[1.2rem] font-robotika lg:text-[1.5rem] xl:text-[1.8rem]"
          data-aos="fade-up"
          data-aos-duration="1500"
        >
          En un último intento por proteger lo que quedaba de su mundo —y darle
          oportunidad a otros—,
        </p>
        <p
          class="text-center text-[1rem] md:text-[1.2rem] font-robotika lg:text-[1.5rem] xl:text-[1.8rem]"
          data-aos="fade-up"
          data-aos-duration="1500"
        >
          Seis seres mágicos escaparon y llegaron a la Tierra:
        </p>
        <p
          class="text-center font-bold text-[1rem] md:text-[1.2rem] font-robotika lg:text-[1.5rem] xl:text-[1.8rem]"
          data-aos="fade-up"
          data-aos-duration="1500"
        >
          Rizuko, Songyongdoli, Urakbam, Tonyangdeok, Ddolbyeong y Meongnyongie.
        </p>
        <p
          class="text-center text-[1rem] md:text-[1.2rem] font-robotika lg:text-[1.5rem] xl:text-[1.8rem]"
          data-aos="fade-up"
          data-aos-duration="1500"
        >
          Su misión era clara: encontrar a seis humanos capaces de heredar su
          luz y proteger este planeta antes de que la oscuridad también lo
          alcanzara.
        </p>
        <ul>
          <li
            class="text-center text-[1rem] md:text-[1.2rem] font-robotika lg:text-[1.5rem] xl:text-[1.8rem]"
            data-aos="fade-up"
            data-aos-duration="1500"
          >
            <span class="font-bold">Rizuko,</span> bondadosa y optimista, <span
              class="font-bold">eligió a Shotaro.</span
            >
          </li>
          <li
            class="text-center text-[1rem] md:text-[1.2rem] font-robotika lg:text-[1.5rem] xl:text-[1.8rem]"
            data-aos="fade-up"
            data-aos-duration="1500"
          >
            <span class="font-bold">Songyongdoli,</span> divertido pero estoico,
            <span class="font-bold">eligió a Eunseok.</span>
          </li>
          <li
            class="text-center text-[1rem] md:text-[1.2rem] font-robotika lg:text-[1.5rem] xl:text-[1.8rem]"
            data-aos="fade-up"
            data-aos-duration="1500"
          >
            <span class="font-bold">Urakbam,</span> fuerte y resiliente, <span
              class="font-bold">eligió a Sungchan.</span
            >
          </li>
          <li
            class="text-center text-[1rem] md:text-[1.2rem] font-robotika lg:text-[1.5rem] xl:text-[1.8rem]"
            data-aos="fade-up"
            data-aos-duration="1500"
          >
            <span class="font-bold">Tonyangdeok,</span> humilde y adorable,<span
              class="font-bold"
            >
              eligió a Wonbin.</span
            >
          </li>
          <li
            class="text-center text-[1rem] md:text-[1.2rem] font-robotika lg:text-[1.5rem] xl:text-[1.8rem]"
            data-aos="fade-up"
            data-aos-duration="1500"
          >
            <span class="font-bold">Ddolbyeong,</span> único e impredecible, <span
              class="font-bold">eligió a Sohee.</span
            >
          </li>
          <li
            class="text-center text-[1rem] md:text-[1.2rem] font-robotika lg:text-[1.5rem] xl:text-[1.8rem]"
            data-aos="fade-up"
            data-aos-duration="1500"
          >
            <span class="font-bold">Meongnyongie,</span> valiente y leal, <span
              class="font-bold">eligió a Anton.</span
            >
          </li>
        </ul>
      </section>
    </div>
  </header>

  <main class="mt-20">
    <h2
      class="text-[5rem] font-rasegard leading-16 text-center md:text-[4.4rem] lg:text-[5.5rem] xl:text-[8.5rem]"
    >
      ¡comienza tu odisea!
    </h2>

    <div class="mt-16 flex justify-center items-center gap-3 md:gap-0 xl:mt-20">
      <img src="/assets/VIDEO.svg" alt="Icono de video" class="w-16 h-16" />
      <a
        href="https://www.youtube.com/watch?v=vLUtHODdLzk"
        class="text-[1rem] md:text-[1.2rem] block w-[60%] md:w-fit hover:underline font-robotika lg:text-[1.5rem] xl:text-[1.8rem]"
        target="_blank"
        rel="noopener noreferrer"
        title="Escucha el opening de RIIZE"
        aria-label="Escucha el opening de RIIZE"
      >
        Da click aqui para escuchar tu opening:</a
      >
    </div>

    <div class="mt-16">
      <h2
        class="text-[1rem] md:text-[1.2rem] font-robotika text-center font-bold lg:text-[1.5rem] xl:text-[1.8rem]"
      >
        Elige a tu guía para esta aventura:
      </h2>
      <div
        class="w-[90%] grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-3 mx-auto mt-16 gap-20"
      >
        {guiasImages.map((guiaImage) => <GuiaImageCard guia={guiaImage} />)}
      </div>

      <section class="mt-20 w-full flex flex-col gap-10">
        {guias.map((guia, index) => <GuiaCard guia={guia} index={index} />)}
      </section>
    </div>
  </main>

  <section class="mt-10 w-[90%] mx-auto">
    <p
      class="text-center text-[1rem] md:text-[1.2rem] font-robotika lg:text-[1.5rem] xl:text-[1.8rem]"
    >
      ¿Te gustaría conocer más de su historia? Da click <a
        href="https://www.youtube.com/playlist?list=PLVtDfG0ugTx5fFqLqhufgCz32lADEPXD6"
        rel="noopener noreferrer"
        target="_blank"
        class="font-semibold underline">aquí</a
      > o <a
        href="https://www.youtube.com/playlist?list=PLVtDfG0ugTx5pAKH6pOaoSkL3VsqolVKU"
        rel="noopener noreferrer"
        target="_blank"
        class="font-semibold underline">aquí</a
      > para conocerlos más.
    </p>
    <p
      class="text-center text-[1rem] md:text-[1.2rem] font-robotika mt-5 lg:text-[1.5rem] xl:text-[1.8rem]"
    >
      <a
        href="https://drive.google.com/file/d/1cTyM-TA8v3kst33Tcfx-LLmiRpu21NEE/view?usp=drive_link"
        rel="noopener noreferrer"
        target="_blank"
        aria-label="Descarga tu varita de transformación"
        class="underline font-semibold">Ten tu varita de transformación</a
      >
      ¡Y bienvenid@ al equipo!
    </p>
    <p
      class="text-center text-[1rem] md:text-[1.2rem] font-robotika lg:text-[1.5rem] xl:text-[1.8rem] mt-10"
    >
      “Aunque aún no tengas uno claro, cuando llegue el momento, ve tras tu
      propia Odisea. Nosotros, RIIZE, siempre estaremos apoyándote. “
    </p>
    <p
      class="text-center font-black text-[1.2rem] md:text-[1.5rem] font-robotika lg:text-[2rem] xl:text-[2.5rem] mt-5"
    >
      Rizze will continue to rise
    </p>
    <div class="flex justify-end gap-2 items-center">
      <div
        class="w-[30px] h-[2px] bg-black -translate-x-12 lg:-translate-x-36 xl:-translate-x-96"
      >
      </div>
      <p
        class="text-[1rem] md:text-[1.2rem] font-robotika font-black -translate-x-12 lg:-translate-x-36 lg:text-[1.5rem] xl:-translate-x-96 xl:text-[1.8rem]"
      >
        Lee Anton
      </p>
    </div>
  </section>
</Layout>
<style>
  html {
    scroll-behavior: smooth;
  }
  @keyframes float {
    0% {
      transform: translate(0px, 0px);
    }
    25% {
      transform: translate(10px, -5px);
    }
    50% {
      transform: translate(0px, -10px);
    }
    75% {
      transform: translate(-10px, -5px);
    }
    100% {
      transform: translate(0px, 0px);
    }
  }

  .float {
    animation: float 6s ease-in-out infinite;
  }
</style>
