---
const text = "riize";
const repeat = 100; // Ajusta según qué tan larga quieras la cinta
const content = Array(repeat).fill(text);
---

<div class="overflow-hidden whitespace-nowrap w-full pt-10">
  <div class="flex gap-4 animate-marquee">
    {
        content.map((item) => (
            <span  class="inline-block uppercase text-lg font-semibold font-robotika tracking-widest">{item}</span>
        ))
    }
  </div>
</div>

<style>
  @keyframes marquee {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-100%);
    }
  }

  .animate-marquee {
    animation: marquee 40s linear infinite;
  }
</style>
