---
import Footer from "@/components/Footer.astro";
import "@/styles/global.css";
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/assets/DESTELLO.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Sunriize</title>
  </head>
  <body
    class="bg-[url('/assets/fondo-mobile.webp')] md:bg-[url('/assets/fondo.webp')] bg-fixed bg-no-repeat bg-center md:bg-cover pb-10"
  >
    <slot />
    <Footer />
  </body>
</html>
